.title{
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.grid-square{
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid black;
  box-sizing: border-box;
}

#sketchpad{
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}